/*-------------------------*/
/*   Custom properties     */
/*-------------------------*/
:root {
  /*  colors */
  /* primary colors */
  --clr-peach: 11 73 66;
  --clr-black: 270 3 11;
  --clr-white: 0 0 100;
  /* secondary colors */
  --clr-light-reach: 11 100 80;
  --clr-dark-grey: 264 5 20;
  --clr-light-grey: 210 17 95;

  /*  typography  --heading  */
  --sz-h1: 3rem;
  --sz-h2: 2.5rem;
  --sz-h3: 1.25rem;

  /*  typography  --body  */
  --sz-p-m: 1rem;

  /*  font-family */
  --font-jost: "Jost", sans-serif;

  --general-space-bottom: 160px;
}

/*-------------------------*/
/*        Reset            */
/*-------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font-jost);
  font-size: 1rem;
  color: hsl(var(--clr-black));
}

/*  make images to use esier  */

image,
picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  make form to use esier  */

input,
button,
textarea,
option,
select {
  font: inherit;
}

ul,
li {
  list-style: none;
}

/* remove animation for people who ve turned them off  */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-------------------------*/
/*  Utility classes        */
/*-------------------------*/

/*  general  */

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 2em;
}

/*  Colors  */

.cr-peach {
  color: hsl(var(--clr-peach));
}
.cr-black {
  color: hsl(var(--clr-black));
}
.cr-white {
  color: hsl(var(--clr-white));
}
.cr-reach {
  color: hsl(var(--clr-light-reach));
}
.cr-dark {
  color: hsl(var(--clr-dark-grey));
}
.cr-grey {
  color: hsl(var(--clr-light-grey));
}

/*  Typography */

.fs-h1 {
  font-size: var(--sz-h1);
}
.fs-h2 {
  font-size: var(--sz-h2);
}
.fs-h3 {
  font-size: var(--sz-h3);
}

.fs-p-m {
  font-size: var(--sz-p-m);
}

.bold {
  font-weight: bold;
}

.line-height48 {
  line-height: 3rem;
}

.line-height26 {
  line-height: 1.5rem;
}

.letter-spacing5 {
  letter-spacing: 1px;
}
.letter-spacing2 {
  letter-spacing: 1.5px;
}

/*-------------------------*/
/*  Components             */
/*-------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 5px;
}

/* Header Section */
#primary-nav {
  margin: 65px 0;
}

nav {
  justify-content: space-between;
}

.nav-links {
  column-gap: 44px;
}

.hdr-link {
  text-decoration: none;
  color: hsl(var(--clr-black));
  padding-bottom: 0.2px;
}

.hdr-link:hover {
  cursor: pointer;
  border-bottom: 1px solid hsl(var(--clr-dark-grey));
}

.logo-block h1 {
  margin-left: 15px;
}

/* First bouth section */

#first-bouth-section {
  position: relative;
}

.img-bg {
  position: absolute;
  left: -7%;
  top: 30%;
  z-index: -1;
}

/*  HOME SECTION  */

#home {
  margin-bottom: var(--general-space-bottom);
}

.home-content {
  position: relative;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;

  background-color: hsl(var(--clr-peach));
  border-radius: 15px;
}

.home-content > *:first-child {
  width: 60%;
  padding-left: 90px;
}

.home-content > *:first-child p {
  margin: 46px 0;
}

.home-phone {
  margin-bottom: -6px;
  z-index: 100;
}

.home-content > *:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
}

.home-btn {
  width: 30%;
  padding: 15px;
  border-radius: 8px;
  border: none;
}

.home-btn:hover {
  background: hsl(var(--clr-light-reach));
  cursor: pointer;
}

.oval-circle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

/*  DESIGN SECTION  */

#designs {
  margin-bottom: var(--general-space-bottom);
}

.design-content--card {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  z-index: 999;
}

.design-content--card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(var(--clr-black) / 0.5);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: 1;
}

.design-content--card:hover::after {
  background: hsl(var(--clr-light-reach) / 0.6);
}

.design-content--card h1,
p {
  color: hsl(var(--clr-white));
  z-index: 100;
}

.design-content--card h1 {
  font-size: var(--sz-h2);
  font-weight: 500;
}

.design-content--card p {
  font-weight: 300;
  letter-spacing: 5px;
}

.web-design-card {
  background-image: url(./images/web.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  grid-area: webCard;
}

.app-design-card {
  height: 300px;
  background-image: url(./images/app.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  grid-area: appCard;
}
.graphic-design-card {
  height: 300px;
  background-image: url(./images/graphic.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  grid-area: graphicCard;
}

.designs-content {
  display: grid;
  grid-template-columns: repeat(4, calc(80 / 4));
  grid-template-rows: auto;
  gap: 3rem;
  grid-template-areas:
    "webCard webCard appCard appCard"
    "webCard webCard graphicCard graphicCard";
}

/*  SERVICES SECTION  */

.service-content {
  position: relative;
  column-gap: 4rem;
  margin-bottom: var(--general-space-bottom);
}

.oval-service {
  position: absolute;
  z-index: -1;
  padding-left: 80px;
}

.service-card-img {
  margin-bottom: 80px;
  padding-left: 80px;
}

.service-content h3 {
  line-height: 20px;
  font-weight: 500;
}

.service-content p {
  font-weight: 400;
}

.service-card > * {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*   ABOUT YOUR PROJECT   */
#your-project {
  background-color: hsl(var(--clr-peach));
  background-image: url("./images/your-project-behind-sircles.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.your-project-content {
  position: relative;
  justify-content: space-between;

  border-radius: 15px;
  padding: 78px;
}

.info-project {
  width: 50%;
}

.project-btn {
  font-weight: 500;
  width: 152px;
  height: 56px;
  border-radius: 8px;
  border: none;
}

.project-btn:hover {
  background: hsl(var(--clr-light-reach));
  cursor: pointer;
}

.your-project-content h2 {
  font-weight: 500;
  line-height: 40px;
  letter-spacing: normal;
  margin-bottom: 35px;
}

.your-project-content p {
  font-weight: 400;
}

/* Second bouth section */
#second-bouth-section {
  position: relative;
}

.img-bg-2 {
  position: absolute;
  top: 100px;
  right: -85px;
  z-index: -1;
}

/*  FOOTER   */

#footer {
  background-color: hsl(var(--clr-black));
  margin-top: -70px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 140px 0 70px 0;
}

.nav-footer {
  column-gap: 44px;
  margin-right: 10px;
}

.footer-hr {
  opacity: 10%;
  margin: 40px 0;
}

.footer-blocks {
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 4rem;
}

.footer-blocks > * {
  width: calc(100% / 3);
}

.footer-block {
  display: flex;
  flex-direction: column;
}

.footer-block span {
  opacity: 50%;
}

.footer-blocks > *:last-child {
  display: flex;
  justify-content: flex-end;
}

.footer-img > * {
  margin-left: 20px;
}

.icon {
  position: relative;
  display: inline-block;
 
}

.icon-fb {
  background-image: url(./images/icon-footer-1.png);
  width: 24px;
  height: 24px;
}

.icon-youtube {
  background-image: url(./images/icon-footer-2.png);
  width: 24px;
  height: 24px;
}

.icon-twitter {
  background-image: url(./images/icon-twitter.png);
  width: 24px;
  height: 19.5px;
}

.icon-path {
  background-image: url(./images/icon-footer-4.png);
  width: 24px;
  height: 24px;
}

.icon-instagram {
  background-image: url(./images/icon-instagramm.png);
  width: 24px;
  height: 24px;
}

.icon:hover {
  background: hsl(var(--clr-light-reach));
  cursor: pointer;
}

.ftr-link {
  text-decoration: none;
  color: hsl(var(--clr-white));
  padding-bottom: 0.2px;
}

.ftr-link:hover {
  cursor: pointer;
  border-bottom: 1px solid hsl(var(--clr-white));
}
